@import 'reset';
@import 'fonts';
@import 'typography';

body{
  font-family:'Source Sans Pro', sans-serif;;
  background-color: $bg-color;
  color:$text-color;
}
a{
  color:$link-color;
  &:hover{
    color:$link-hover-color;
  }
}
.shadow{
  box-shadow: 0 8px 12px rgba(0,0,0,0.2), 0 5px 6px rgba(0,0,0,0.3);
}
.section-container{
  padding:30px;
}
.card-theme{
  background-color: #191f26;
  border:none;
  border-radius: 2px;
}
.card-heading-theme{
  color:#eee;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding:12px;
}
.card-body-theme{
  background-color: #494f56;
}
.cards{
  display: flex;
  flex-direction: column;
}
